<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/adminlayouts">
<head>
    <style>
    img {
        width: 300px;
        height: 300px;
    }
</style>
</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <h2>Edit seeker profile</h2>
    <div class="row" style="padding-top: 30px">
        <div class="col-4" id="seekerPhoto">
            <form id="editPhotoForm" class="form-inline">
                <img id="sPhoto" th:src="${photoimg != null} ? @{'data:image/png;base64,' + ${photoimg}} : '/img/default_photo_seeker.jpg'" name="photo" alt=""
                     style="width: 300px;height: 300px;">
                <br>
                <div class="custom-file mt-4">
                    <div class="input-group">
                        <div class="row">
                            <div class="col-8">
                                <label class="custom-file-label justify-content-between" for="customFile">
                                    Choose new image</label>
                                <input type="file" class="custom-file-input" id="customFile"
                                       accept="image/jpeg,image/png,image/gif" name="file">
                                <input type="hidden" th:value="${seekerUser.id}" name="seekerUserId">
                            </div>
                            <div class="col-4">
                                <button onclick="uploadPhoto()" class="btn btn-secondary" type="button">
                                    Upload
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form id="editSeeker">
                <div class="form-group">
                    <label>Seeker ID : </label> <input class="form-control" type="text"
                                                       th:value="${seekerUser.id}" name="id" readonly>
                </div>
                <div class="form-group">
                    <label>Seeker email : </label><input class="form-control" type="text"
                                                         th:value="${seekerUser.email}" name="email" readonly>
                </div>
                <div class="form-group">
                    <label>Seeker last visit : </label><input class="form-control" type="text"
                                                              th:value="${#temporals.format(seekerUser.date, 'dd MMMM yyyy HH:mm')}"
                                                                readonly>
                    <input class="form-control" type="hidden" th:value="${seekerUser.date}" name="date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" th:value="${seekerUser.password}" name="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" th:value="${seekerUser.confirm}" name="confirm">
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" th:value="${seekerUser.enabled}" name="enabled">
                </div>
                <div class="form-group">
                    <label>Seeker profile ID : </label> <input class="form-control" type="text"
                                                               th:value="${seekerProfile.id}" name="profId"
                                                               readonly>
                </div>
                <div class="form-group">
                    <label>Profile name : </label> <input class="form-control" type="text"
                                                          th:value="${seekerProfile.name}" name="name">
                </div>
                <div class="form-group">
                    <label>Profile patronymic : </label><input class="form-control" type="text"
                                                               th:value="${seekerProfile.patronymic}"
                                                               name="patronymic">
                </div>
                <div class="form-group">
                    <label>Profile surname : </label><input class="form-control" type="text"
                                                            th:value="${seekerProfile.surname}"
                                                            name="surname">
                </div>
                <div class="form-group">
                    <label>Profile description : </label><input class="form-control" type="text"
                                                                th:value="${seekerProfile.description}"
                                                                name="description">
                </div>
                <div class="form-group">
                    <label>Profile tags : </label>
                    <select id="seekerTags" name="seekerTags">
                        <option th:each="tag : ${seekerProfile.tags}" th:value="${tag.name}"
                                th:text="${tag.name}"
                                th:selected="${tag==0}"></option>
                    </select>
                    <label>Profile portfolios : </label>
                    <select id="seekerPortfolios" name="seekerPortfolios">
                        <option th:each="portfolio : ${seekerProfile.portfolios}"
                                th:value="${portfolio.projectName}"
                                th:text="${portfolio.projectName}"
                                th:selected="${portfolio==0}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button id="editSeekerForm" class="btn btn-success btn-block" type="submit">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" layout:fragment="content-script">
    <script src="/js/admin/admin_seekers.js"></script>
</div>

</body>
</html>