<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/adminfragments :: head"></th:block>
</head>
<body>
<th:block th:replace="fragments/adminfragments :: nav"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:replace="fragments/adminfragments :: sidebar"></th:block>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main_admin_page">
            <div class="container-fluid" layout:fragment="content"></div>
        </main>
    </div>
</div>
<th:block th:replace="fragments/adminfragments :: scripts"></th:block>
<div class="container-fluid" layout:fragment="content-script">
</div>
</body>
</html>