<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="fragments/adminfragments :: head"></th:block>
</head>

<body>
<div class="container-fluid toggled" id="wrapper">
    <div class="row w-100">
        <!-- Header -->
<th:block th:replace="fragments/adminfragments :: nav"></th:block>
        <!-- End Header-->
    </div>
    <div class="row w-100">
        <!-- Sidebar -->
            <th:block th:replace="fragments/adminfragments :: sidebar"></th:block>
        <!-- End Sidebar-->
        <div class="main-block chromeFix" id="main_admin_page" role="main" layout:fragment="content"></div>

    </div>
</div>

<th:block th:replace="fragments/adminfragments :: scripts"></th:block>

<script type="text/javascript" src="/js/admin/admin_sidebar.js"></script>

<th:block layout:fragment="content-script"></th:block>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>

</html>