<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/adminlayouts" th:with="side=&apos;add&apos;">

<head>
    <style>
        #success_message {
            display: none;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid" layout:fragment="content">
            <main role="main" class="col-lg-9 ml-sm-auto col-xl-10 px-4" id="main_admin_page">
                <br>
                <div class="container">
                    <form class="card bg-light card-body mb-3 " id="contact_form">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>
                                <center>
                                    <h2><b>&#x414;&#x43E;&#x431;&#x430;&#x432;&#x44C;&#x442;&#x435; &#x43F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x44F;</b></h2>
                                </center>
                            </legend>
                            <br>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-lg-4 col-form-label">&#x41B;&#x43E;&#x433;&#x438;&#x43D; (Email)</label>
                                <div class="col-lg-4 inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
                                        <input
                                                name="user_email" id="user_email" th:value="${email}" placeholder="&#x412;&#x432;&#x435;&#x434;&#x438;&#x442;&#x435; Email"
                                                class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-lg-4 mb-3">-->
                            <!--<label for="validationDefaultUsername">Имя пользователя</label>-->
                            <!--<div class="input-group">-->
                            <!--<div class="input-group-prepend">-->
                            <!--<span class="input-group-text" id="inputGroupPrepend2">@</span>-->
                            <!--</div>-->
                            <!--<input type="text" class="form-control" id="validationDefaultUsername"
                            placeholder="Имя пользователя" aria-describedby="inputGroupPrepend2" required>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-lg-4 col-form-label">&#x41F;&#x430;&#x440;&#x43E;&#x43B;&#x44C;</label>
                                <div class="col-lg-4 inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                        <input
                                                name="user_password" id="user_password" placeholder="&#x412;&#x432;&#x435;&#x434;&#x438;&#x442;&#x435; &#x43F;&#x430;&#x440;&#x43E;&#x43B;&#x44C; &#x43E;&#x442; 8 &#x434;&#x43E; 20 &#x441;&#x438;&#x43C;&#x432;&#x43E;&#x43B;&#x43E;&#x432;"
                                                class="form-control" type="password">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-lg-4 col-form-label">&#x412;&#x432;&#x435;&#x434;&#x438;&#x442;&#x435; &#x43F;&#x43E;&#x432;&#x442;&#x43E;&#x440;&#x43D;&#x43E;</label>
                                <div
                                        class="col-lg-4 inputGroupContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                        <input
                                                name="confirm_password" id="confirm_password" placeholder="&#x412;&#x432;&#x435;&#x434;&#x438;&#x442;&#x435; &#x43F;&#x430;&#x440;&#x43E;&#x43B;&#x44C; &#x43E;&#x442; 8 &#x434;&#x43E; 20 &#x441;&#x438;&#x43C;&#x432;&#x43E;&#x43B;&#x43E;&#x432;"
                                                class="form-control" type="password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 col-form-label">&#x412;&#x438;&#x434; &#x430;&#x43A;&#x43A;&#x430;&#x443;&#x43D;&#x442;&#x430;</label>
                                <div
                                        class="col-lg-4 selectContainer">
                                    <div class="input-group"> <span class="input-group-addon"><i class="fas fa-list"></i></span>
                                        <select
                                                name="role" id="role" class="form-control selectpicker">
                                            <option value="">&#x412;&#x44B;&#x431;&#x435;&#x440;&#x438;&#x442;&#x435; &#x440;&#x43E;&#x43B;&#x44C;</option>
                                            <option
                                                    value="ROLE_SEEKER">&#x421;&#x43E;&#x438;&#x441;&#x43A;&#x430;&#x442;&#x435;&#x43B;&#x44C;</option>
                                            <option
                                                    value="ROLE_EMPLOYER">&#x420;&#x430;&#x431;&#x43E;&#x442;&#x43E;&#x434;&#x430;&#x442;&#x435;&#x43B;&#x44C;</option>
                                            <option
                                                    value="ROLE_ADMIN">&#x410;&#x434;&#x43C;&#x438;&#x43D;&#x438;&#x441;&#x442;&#x440;&#x430;&#x442;&#x43E;&#x440;</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-group">
                                <label class="col-lg-4">
                                    <input type="checkbox" id="myCheck">&#x41E;&#x43F;&#x43E;&#x432;&#x435;&#x441;&#x442;&#x438;&#x442;&#x44C;
                                    &#x41F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x44F;</label>
                            </div>
                            <!--Success message-->
                            <div class="alert alert-success" role="alert" id="success_message">&#x41F;&#x43E;&#x43B;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x44C;
                                &#x443;&#x441;&#x43F;&#x435;&#x448;&#x43D;&#x43E; &#x434;&#x43E;&#x431;&#x430;&#x432;&#x43B;&#x435;&#x43D;
                                <i
                                        class="fas fa-thumbs-up"></i>
                                <br>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-lg-4 col-form-label"></label>
                                <div class="col-lg-4" style="display: flex; justify-content: center;">
                                    <br>
                                    <button type="button" class="btn btn-warning" onclick="validateAndAdd()"
                                            style="width: 250px;">&#x414;&#x43E;&#x431;&#x430;&#x432;&#x438;&#x442;&#x44C; <i class="fas fa-paper-plane "></i>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>
</body>

</html>