<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/commonfragments :: head"></th:block>
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body style="background-color: var(--bg-color)">
<th:block th:replace="fragments/commonfragments :: nav"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:replace="fragments/commonfragments :: sidebar"></th:block>
        <div class="main-block chromeFix" layout:fragment="content"></div>
    </div>
</div>

<div class="block" id="loader">
    <div class="text text-j">J</div>
    <div class="text text-o">o</div>
    <div class="text text-b">b</div>
    <div class="text text-s">S</div>
    <div class="text text-e1">e</div>
    <div class="text text-e2">e</div>
    <div class="text text-k">k</div>
    <div class="text text-e3">e</div>
    <div class="text text-r">r</div>
</div>

<script>
    document.body.onload = function () {
        let containerFluid = document.getElementsByClassName("container-fluid");
        containerFluid[0].style.opacity = 0;
        let loader = document.getElementById("loader");

        let iterator = 0;
        let interval = setInterval(function () {
            if(iterator >= 1) {
                clearInterval(interval);
            }
            iterator += 0.025;
            containerFluid[0].style.opacity = iterator;
        }, 100);

        setTimeout(function () {
            if (!loader.classList.contains('done')) {
                loader.classList.add('done');
            }
        }, 4000);
    };
</script>
</body>
</html>