<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/commonfragments :: head"></th:block>
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body style="background-color: var(--bg-color)">
<th:block th:replace="fragments/commonfragments :: nav"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:replace="fragments/commonfragments :: sidebar"></th:block>
        <div class="main-block chromeFix" layout:fragment="content"></div>
    </div>
</div>

<script>
    let loader = document.createElement("div");
    loader.className = "loader";
    loader.style = "visibility: visible";

    let circle1 = document.createElement("div");
    circle1.className = "circle";
    let circle2 = document.createElement("div");
    circle2.className = "circle";

    let face1 = document.createElement("div");
    face1.className = "face face1";
    let face2 = document.createElement("div");
    face2.className = "face face2";

    face1.appendChild(circle1);
    face2.appendChild(circle2);
    loader.appendChild(face1);
    loader.appendChild(face2);

    document.body.appendChild(loader);

    window.addEventListener("load", function () {
        loader.style = "visibility: hidden";
    }, false);

    window.addEventListener("unload", function () {
        loader.style = "visibility: visible";
    }, false);

    window.onbeforeunload = function () {
        loader.style = "visibility: visible";
        return null;
    };

    $('#selectionTagsModal').on('show.bs.modal', function (event) {
        $('#btnSuccess').click(function () {
            let btnTags = document.getElementsByClassName("btn btn-success btn-sm badge badge-pill text-dark active");
            let tags = [];

            if (btnTags.length !== 0) {
                for (let tag of btnTags) {
                    tags.push(tag.textContent.toString());
                }
                $.ajax({
                    type: 'post',
                    url: "/api/seekerprofiles/updateUserTags?updatedTags=" + tags,
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function (request) {
                        request.setRequestHeader(header, token);
                    },
                    success: function () {
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                        alert(error.toString());
                    }
                })
            }
        })
    });
</script>
</body>
</html>