<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">

<head>
    <title>Резюме</title>
    <script type="text/javascript" src="/js/all_resumes.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="main-block chromeFix" layout:fragment="content">
            <div id="vacancyDiv" class="container-fluid" style="margin-top: 30px">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="search_area">
                            <form class="form-inline" style="margin-bottom: 5px;">
                                <input class="form-control mr-sm-2 form-search" id="search_box" type="search"
                                       name="query" placeholder="Поиск резюме по тегам..."
                                       aria-label="Search" value="" autocomplete="off" style="width: 60%">
                                <button type="button" onclick="searchResults()" class="btn btn-warning my-2 my-sm-0">
                                    Поиск
                                </button>
                            </form>
                            <input type="hidden" id="searchBoxId" value="">
                            <div id="search_advice_wrapper"></div>
                        </div>
                        <div id="searchButtons" style="margin-bottom: 10px"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>