<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Confirm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Здравствуйте, <span th:text="${your_login}"></span></h1>
<br>
<p>
    Мы добавили вас на платформу <b>JobSeeker </b>
    <span th:text="${#dates.format(subscriptionDate)}"></span>
</p>
<p>    Ваш логин: <b><span th:text="${your_login}"></span> </b></p>
<p>    Ваш пароль: <b><span th:text="${password}"></span> </b></p>

<p>
    Для ознакомления перейдите по
    <a th:href="${href}"> ссылке </a>
</p>
<p>
    С наилучшими пожеланиями , <br/>
    <em> команда JobSeeker</em>
</p>
</body>
</html>