<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recovery Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <div class="col-sm-10">
                <h1>Здравствуйте, <span th:text="${your_login}"></span></h1>
                <br>
                <p>
                    Вы пытались востановить пароль на сайте <b>JobSeeker </b>
                    <span th:text="${#dates.format(subscriptionDate)}"></span>
                </p>
                <p>
                    Ваш логин: <b><span th:text="${your_login}"></span> </b>
                    Ваш пароль: <b><span th:text="${password}"></span> </b>
                </p>

                <p>
                    Для входа перейдите по
                    <a th:href="${href}"> ссылке </a>
                </p>
                <p>
                    С наилучшими пожеланиями , <br/>
                    <em> команда JobSeeker</em>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<title>Login</title>-->
    <!--<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen"/>-->
    <!--<link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}"-->
          <!--rel="stylesheet" media="screen"/>-->
<!--</head>-->

<!--<body>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-4 col-lg-offset-3">-->
            <!--<h1 class="page-header">Welcome</h1>-->
            <!--<div th:unless="${isNotValid}">-->
                <!--<div th:unless="${logout}">-->
                    <!--<div class="empty-block"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div th:if="${isNotValid}">-->
                <!--<div class="alert alert-danger">-->
                    <!--<h3>Invalid login or password!</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div th:if="${logout}">-->
                <!--<div class="alert alert-success">-->
                    <!--<h3>Logout has bean successful</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>Please sign in</h2>-->
            <!--<form th:action="@{/processing-url}" method="POST">-->
                <!--<div class="form-group login-group">-->
                    <!--<input type="text" class="form-control"  name="login"-->
                           <!--required="required"/>-->
                    <!--<input type="password" class="form-control"  name="password"-->
                           <!--required="required"/>-->
                <!--</div>-->
                <!--<input type="submit" class="btn btn-default btn-block" value="Sign in"/>-->
            <!--</form>-->
            <!--<a class="btn   btn-primary btn-block" th:href="@{/loginoauth}">Google Auth</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
