<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="sidebar">
    <ul sec:authorize="hasRole('ROLE_EMPLOYER')">
        <li><a href="#"><span>Все резюме</span></a></li>

        <li><a class="font-color" href="#">Мои чаты<span
                id="count_not_read_messages"></span></a></li>

        <li><span id="username" th:utext="${username}"></span></li>
        <li><span id="vacancyId" th:utext="${vacancyId}"></span></li>
    </ul>
</th:block>
</body>