<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="not_authority_sidebar">
    <li class="nav-item text-center mt-3"><a href="#"  class="nav-link"><span>Все вакансии</span></a></li>
</th:block>

<th:block th:fragment="seeker_sidebar">
    <li class="nav-item text-center mt-3"><a th:href="@{/seeker/get_subscription_news/{id}(id=${seekerProfileId})}"  class="nav-link"><span>Новости</span></a></li>
    <li class="nav-item text-center mt-3"><a href="#"  class="nav-link"><span>Все вакансии</span></a></li>
    <li class="nav-item text-center mt-3"><a href="#"  class="nav-link"><span>Все компании</span></a></li>
    <li class="nav-item text-center mt-3"><a th:href="@{/seeker/get_subscriptions/{id}(id=${seekerProfileId})}"  class="nav-link"><span>Мои подписки</span></a></li>
    <li class="nav-item text-center mt-3"><a class="font-color nav-link" th:href="@{/seeker/chats/{id}(id=${seekerProfileId})}">Мои чаты<span id="count_not_read_messages"></span></a></li>
    <li class="nav-item text-center mt-3"><a th:href="@{/seeker/meetings/{id}(id=${seekerProfileId})}"  class="nav-link" ><span>Мои встречи</span></a></li>
    <li class="nav-item text-center mt-3"><a th:href="@{/seeker/resumes/{id}(id=${seekerProfileId})}"  class="nav-link"><span>Мои резюме</span></a></li>
    <li class="nav-item text-center mt-3"><span id="username" th:utext="${username}"></span></li>
    <li class="nav-item text-center mt-3"><span id="vacancyId" th:utext="${vacancyId}"></span></li>
</th:block>

<th:block th:fragment="employer_sidebar">
    <li class="nav-item text-center mt-3"><a th:href="@{/employer/get_resumes}"  class="nav-link"><span>Все резюме</span></a></li>
    <li class="nav-item text-center mt-3"><a th:href="@{/employer/get_news}"  class="nav-link"><span>Мои новости</span></a></li>
    <li class="nav-item text-center mt-3"><a class="font-color nav-link" th:href="@{/employer/chats/{id}(id=${employerProfileId})}">Мои чаты<span id="count_not_read_messages"></span></a></li>
    <li class="nav-item text-center mt-3"><span id="username" th:utext="${username}"></span></li>
    <li class="nav-item text-center mt-3"><span id="vacancyId" th:utext="${vacancyId}"></span></li>
</th:block>

</body>