<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>Редактирование вакансии</title>
    <meta name="apiKey" th:content="${googleMapsApiKey}"/>
    <style>
        .label {
            font-size: 110%;
            display: inline-block;
            margin: 2px;
            background-color: #5CB85C;
            border-radius: 7px;
            color: white;
            border-style: solid;
            border-color: #5CB85C;
        }

        .col-md-7.inputGroupContainer {
            flex: none;
            max-width: none;
            padding-left: 10%;
        }

        #techLabel {
            flex: none;
            max-width: none;
            padding-left: 10%;
        }


        /*Эти стили нужны для корректной работы формы автозаполнения*/

        .pac-container {
            background-color: #FFF;
            z-index: 2001;
            position: fixed;
            display: inline-block;
            float: left;
        }

        .modal {
            z-index: 2000;
        }

        .modal-backdrop {
            z-index: 1000;
        }

        ​

    </style>
    <!--<script type="text/javascript"-->
    <!--src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <script type="text/javascript" src="/js/edit_vacancy.js"></script>
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&libraries=places'}"
            async defer></script>
    <script type="text/javascript" src="/js/map.js"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid" id="vacancy_container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h2 id="EPcompanyName" th:text="${employer.companyName}"></h2>
                <form class="well form-horizontal" id="vacancy_form">
                    <fieldset>
                        <legend align="center">
                            <h2><b>Редактирование вакансии</b></h2>
                        </legend>
                        <br>
                        <input id="vacancyid" hidden th:value="${vacancy.id}">

                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-2 col-form-label">Должность</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                    </div>
                                    <input name="v_headline" id="v_headline"
                                           placeholder="Введите название должности (обязательно)"
                                           class="form-control is-valid" type="text" th:value="${vacancy.headline}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-2 control-label">Адрес</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <input id="long" hidden th:value="${vacancy.coordinates.longitudeX}">
                                    <input id="lat" hidden th:value="${vacancy.coordinates.latitudeY}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button" data-toggle="modal"
                                                    data-target="#mapModal"
                                                    onclick="initV_Map()"><i class="fas fa-map"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <input name="v_address" id="v_address"
                                           placeholder="Введите полный адрес вручную или выберите на карте (обязательно)"
                                           class="form-control is-valid" type="text" readonly>
                                </div>
                                <!--  <script>
                                      $(document).ready(function () {
                                          //lat = $("#lat").val();
                                          //lng = $("#long").val();
                                          $("a#mapStarter").onclick(showVacancyOnMap(lat, lng));
                                      });
                                  </script>
                                  <a data-toggle="collapse" data-target="#map_collapse" id="mapStarter"> Показать на
                                      карте</a>-->
                                <div id="map_collapse" class="collapsed collapse">
                                    <div id="map" style="height: 300px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-2 control-label">Место работы</label>
                            <div class="col-md-8 selectContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-home"></i></span>
                                    </div>
                                    <select name="v_remote" id="v_remote" placeholder="Нужно выбрать место"
                                            class="form-control selectpicker is-valid" th:field="${vacancy.remote}">
                                        <option value="">Выберите роль</option>
                                        <option th:value="false">В офисе работодателя</option>
                                        <option th:value="true" th:selected="${vacancy.remote}">Удаленная работа
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-2 control-label">Зарплата: от</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-ruble-sign"></i></span>
                                    </div>
                                    <input name="v_salaryMin" id="v_salaryMin" placeholder="Можно не указывать"
                                           class="form-control" type="text" th:value="${vacancy.salaryMin}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-2 control-label">до</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-ruble-sign"></i></span>
                                    </div>
                                    <input name="v_salaryMax" id="v_salaryMax" placeholder="Можно не указывать"
                                           class="form-control" type="text" th:value="${vacancy.salaryMax}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" id="v_form_group_tags">
                            <div class="col-sm-1"></div>
                            <label id="techLabel" class="col-md-2 control-label">Технологии (минимум одна)</label>
                            <div class="col-md-7 inputGroupContainer">
                                <div class="input-group mb-4" style="width: 100%;">
                                    <div class="well well-sm" name="v_tagsWell" id="v_tagsWell"
                                         style="margin-bottom: 0px;">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#tagsModal" onclick="showTags()"
                                                style=";height: 24px;width: 21px;padding-right: 3px;padding-left: 3px;padding-top: 2px;padding-bottom: 2px;margin-bottom: 2px;">
                                            <i class="fas fa-plus-square"></i>
                                        </button>
                                        <th:block th:each="tag : ${vacancy.tags}">
                                            <span class='label label-success' th:value="${tag.name}"
                                                  th:attr="id='v_tagLabel_'+${tag.id}" th:data-name="${tag.name}"
                                                  th:text="${tag.name}"
                                                  th:onclick="'deleteTag('+${tag.id}+ ',this.getAttribute(\'data-name\'))'"></span>
                                        </th:block>
                                        <!--           <span class='label label-success' value='" + value.name + "' id='tagLabel_" + value.id + "' onclick='addTag(" + value.id + ",\"" + value.name + "\")'>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--tied-->
                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-11 control-label">Краткое описание вакансии</label>
                            <div class="col-sm-1"></div>
                            <div class="col-md-10 inputGroupContainer">
                                <div class="input-group">
                                    <textarea name="v_shortDescription" id="v_shortDescription"
                                              placeholder="До 255 символов обязательно к заполнению"
                                              class="form-control is-valid" rows="3" maxlength="255"
                                              th:text="${vacancy.shortDescription}"></textarea>
                                    <div class="invalid-feedback">
                                        опишите вакансию
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-1"></div>
                            <label class="col-md-11 control-label">Подробное описание вакансии</label>
                            <div class="col-sm-1"></div>
                            <div class="col-md-10 inputGroupContainer">
                                <!-- <form method="post">-->
                                <textarea id="v_description" name="editordata"
                                          th:text="${vacancy.description}"></textarea>
                                <!--  </form>-->
                                <div class="input-group">
                                    <div class="invalid-feedback-description"
                                         style="width: 100%; margin-top: .25rem; font-size: 80%; color: #dc3545">
                                        сделайте полное описание, не менее 100 символов
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group" align="center">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10" style="display: flex; justify-content: center;"><br>
                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-target="#vacancyModal"
                                        onclick="validateAndPreview()" style="width: 150px;"> Сохранить
                                    <i class="fas fa-paper-plane "></i>
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- vacancyModal -->
    <div id="vacancyModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Предварительный просмотр</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h4><span id="VMTags"></span><br></h4>
                    <h3><span id="VMHeadline"></span><br/></h3>
                    <span id="VMCity"></span>
                    <span id="VMRemote"> (Удаленная работа)</span><br/>
                    <span id="VMAddress"></span>
                    <a data-toggle="collapse" data-target="#map_collapse"> Показать на карте</a>
                    <div id="map_collapse" class="collapsed collapse">
                        <div id="map" style="height: 300px"></div>
                    </div>
                    <br/>
                    <span id="VMSalary"></span><br/>
                    <span>Краткое описание:</span><br/>
                    <div class="well well-sm">
                        <span id="VMShortDescription"></span>
                    </div>
                    <span>Подробное описание:</span><br/>
                    <div class="well well-sm">
                        <span id="VMDescription"></span>
                    </div>
                    <span id="VMId" hidden></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="sendVacancy()">
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <!-- tagsModal -->
    <div id="tagsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Добавление тегов</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-4">
                        <input id="search_tags" class="form-control width100" placeholder="Фильтр по названию"
                               maxlength="50">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-info" onclick="addNewTag();">Добавить</button>
                    </span>
                    </div>
                    <div class="well well-sm" id="tagsWell">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- mapModal -->
    <div id="mapModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Укажите место на карте</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input name="v_address_modal" id="v_address_modal"
                           placeholder="Введите полный адрес вручную или выберите на карте"
                           class="form-control is-valid" type="text">
                </div>
                <div id="v_map" style="height: 600px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>