<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">

<head>
    <style>
        #myDIV {
            width: 100%;
            padding: 50px 0;
            margin-top: 20px;
        }
    </style>
    <title>Вакансия</title>
    <meta name="apiKey" th:content="${googleMapsApiKey}"/>
    <script type="text/javascript" src="/js/seeker.js"></script>
    <script type="text/javascript" src="/js/responding.js"></script>
    <script type="text/javascript" src="/js/date_status_format.js"></script>
</head>

<body>

<div layout:fragment="content">
    <div class="container-fluid" id="vacancy_container" style="margin-left: 15%; margin-right: 15%">
        <div class="row">
            <div class="col-sm-8">
                <h1 th:utext="'<b>'+${vacancyFromServer.getHeadline()}+'</b>'"></h1>
                <p th:text="(${vacancyFromServer.getSalaryMin()!=null} ? 'от ' + ${vacancyFromServer.getSalaryMin()} + ' ' : '')
                              + (${vacancyFromServer.getSalaryMax()!=null} ? ('до ' + ${vacancyFromServer.getSalaryMax()}) : '')
                              + (${vacancyFromServer.getSalaryMax()==null and vacancyFromServer.getSalaryMin()==null} ? 'не указана' : '')">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3><a id="EPcompanyName" th:href="@{'/employer/' + ${EmployerProfileFromServer.id}}"
                       th:text="${EmployerProfileFromServer.getCompanyName()}"></a></h3>
                <span th:text="${vacancyFromServer.getCity().name}"></span>
            </div>

            <div class="col-sm-4" style="height:100px; padding-left: 0px;  padding-right: 0px;">
                <img th:src="@{'data:image/png;base64,' + ${logoimg}}"
                     style="max-width:100%; max-height:100%; display: block; vertical-align:center; horiz-align: center;"
                     alt="Logo of company">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <p>
                    Место работы: &nbsp;
                    <span th:text="${vacancyFromServer.getRemote()} ? 'Удаленная работа' : 'В офисе работодателя'"></span>
                </p>
                <p>
                    Технологии: &nbsp;
                    <th:block th:each="tag :${vacancyFromServer.getTags()}">
                        <span class="label label-success" th:text="${tag.getName()}">}</span>
                    </th:block>
                </p>
                <p>
                    Краткое описание вакансии: &nbsp;
                    <span th:text="${vacancyFromServer.getShortDescription()}"></span>
                </p>
                <p>
                    Подробное описание вакансии:<br>
                    <span th:utext="${vacancyFromServer.getDescription()}"></span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                Адрес: <span id="v_address"
                             th:text="${vacancyFromServer.getCoordinates().getLongitudeX()} + ' ' + ${vacancyFromServer.getCoordinates().getLatitudeY()}"></span>
                <div id="map" style="height: 300px"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-8">
                <div sec:authorize="hasRole('ROLE_SEEKER')" id="buttons" style="padding: 15px;">
                    <button th:if="not ${hasResponded}" id="respond" type="button" class="btn btn-success"
                            th:onclick="'sendRespond(' + ${vacancyFromServer.id} + ',' + ${profileId} + ')'" style="width: 150px;">Откликнуться
                        <i class="fas fa-envelope"></i>
                    </button>
                    <span id="btnFavorite">
                        <button th:if="${isContain}" id="outFavorite" class="btn btn-primary"
                                th:onclick="'outFavorite(' + ${vacancyFromServer.id} + ',' + ${profileId} + ')'">
                        Убрать из
                        избранное
                    </button>
                    <button th:unless="${isContain}" id="inFavorite" class="btn btn-primary"
                            th:onclick="'inFavorite(' + ${vacancyFromServer.id} + ',' + ${profileId} + ')'">
                        В избранное
                    </button>
                    </span>
                    <span id="btnSubscribe">
                        <button th:if="${isSubscribe}" type="button" id="unSubscribe" class="btn btn-outline-primary"
                                th:onclick="'unSubscribe(' + ${vacancyFromServer.id} + ',' + ${seekerProfileId} + ')'">
                            Отписаться
                            <i class="fas fa-envelope"></i>
                        </button>

                        <button th:unless="${isSubscribe}" type="button" id="toSubscribe"
                                class="btn btn-outline-primary" onclick="myFunction()">
                            Подписаться
                            <i class="fas fa-envelope"></i>
                        </button>
                    </span>
                    <div id="myDIV" style="display: none">
                        <div class="input-group mb-4">
                            <div>
                                Выберите теги, на которые хотите подписаться
                                <div class="search_area">
                                    <form class="form-inline" style="margin-bottom: 5px;">
                                        <input class="form-control mr-sm-2 form-search" id="search_box" type="search"
                                               name="query" placeholder="Поиск тегов..."
                                               aria-label="Search" value="" autocomplete="off" style="width: 60%">
                                    </form>
                                    <input type="hidden" id="searchBoxId" value="">
                                    <div id="search_advice_wrapper"></div>
                                </div>
                                <div id="searchButtons" style="margin-bottom: 10px"></div>
                            </div>

                        </div>
                        <div id="tagsWell">
                        </div>
                        <hr>
                        <div id="selectedTags" style="display: none">
                        </div>
                        <button type="button" class="btn btn-primary"
                                th:onclick="'toSubscribe(' + ${vacancyFromServer.id} + ',' + ${seekerProfileId} + ')'">
                            Подтвердить
                        </button>
                    </div>
                    <div id="chat_alert" class="alert alert-success mt-3 d-none" role="alert">
                        Вы отправили заявку на интрервью. Для того, чтобы обсудить
                        детали , перейдите в приватный <a id="chat_ref" href="/chat/">чат</a> с работодателем.
                    </div>
                </div>
                <div th:if="${isOwner}" id="table" style="padding: 15px;">
                    <table class="table table-striped">
                        <thead class="" style="border-width: 0px;">
                        <h3>Откликнулись</h3>
                        <tr style="font-weight: bold; ">
                            <th scope="col">№</th>
                            <th scope="col">Соискатель</th>
                            <th scope="col">Профиль</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Дата встречи</th>
                            <th scope="col">Управление</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${!vacancyFromServer.meetings.isEmpty()}" id="tableRows" th:each="meeting,mCount: ${vacancyFromServer.meetings}" style="font-weight: normal;">
                            <td th:text="${mCount.count}"></td>
                            <td th:text="${meeting.seekerProfile.name} + ' ' + ${meeting.seekerProfile.surname}"></td>
                            <td><a th:href="@{'/seeker/' +  ${meeting.seekerProfile.id}}">подробнее</a></td>
                            <td class="tableStatus" th:text="${meeting.status}"></td>
                            <td class="tableDate" th:text="${meeting.date!=null ? meeting.date : 'N/A'}"></td>
                            <td>
                                <button th:if="${meeting.status==meeting.status.NOT_CONFIRMED}" th:onclick="'editMeeting(' + ${meeting.id} + ')'"
                                        type="button" class="btn btn-dark">Назначить дату</button>
                                <button th:if="${meeting.status==meeting.status.SCHEDUALED}" type="button" disabled="disabled"
                                        class="btn btn-warning disabled">Ожидание подверждения</button>
                                <button th:if="${meeting.status==meeting.status.CONFIRMED_BY_USER}"
                                        th:onclick="'updateMeeting(' + ${meeting.id} + ')'" type="button"
                                        class="btn btn-dark">Подтвердить встречу</button>
                                <button th:if="${meeting.status==meeting.status.CONFIRMED}" type="button" disabled="disabled"
                                        class="btn btn-success disabled">Встреча назначена</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div  th:if="${vacancyFromServer.meetings.isEmpty()}">
                        <h5>список заявок пуст</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Meeting model -->
    <div id="meetingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Управление встречей</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input id="dateTimeLocal" type="datetime-local">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="sendMeetingEdition()">
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
        <div class="row" style="height: 150px"></div>
    </div>


    <script type="text/javascript" src="/js/map.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var latitudeY = /*[[${vacancyFromServer.getCoordinates().getLatitudeY()}]]*/ 1;
        var longitudeX = /*[[${vacancyFromServer.getCoordinates().getLongitudeX()}]]*/ 1;

        let address = getAddressByCoords(latitudeY, longitudeX);
        $("#v_address").text(address);
        /*]]>*/
    </script>

    <script th:src="@{https://maps.googleapis.com/maps/api/js(key=${googleMapsApiKey})}"></script>

    <script>
        showVacancyOnMap(latitudeY, longitudeX);
    </script>
</div>

</body>
</html>