:root {
    --bg-color: #fff;
    --navbar-bg-color: #00bc8c;
    --sidebar-bg-color: #F3F4F6;
    --card-color: #fff;
    --text-color: #222;
    --sidebar-text-color: #222;
    --form-border-color: #F39C12;
    --card-bg-color: #F3F4F6;
    --card-header-bg-color: #ccc;
}

:root[theme='dark']{
    --bg-color: #222;
    --navbar-bg-color: #00bc8c;
    --sidebar-bg-color: #303030;
    --card-color: #303030;
    --text-color: white;
    --sidebar-text-color: #fff;
    --form-border-color: #222;
    --card-bg-color: #303030;
    --card-header-bg-color: #444;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: calc(100%);
}

/*Navbar style*/
.navbar {
    background-color: var(--navbar-bg-color);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.navbar li {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar a :hover {
    color: lightgray;
}

.navbar .dropdown {
    display: flex;
}

.navbar .dropdown-menu {
    position: relative;
    right: 0;
}

li {
    list-style-type: none;
}

/*Sidebar style*/
.sidebar {
    width: 15%;
    background-color: var(--sidebar-bg-color);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 20px;
}

.sidebar ul {
    padding: 0 20%;
}

.sidebar li {
    margin-top: 20px;
}

.sidebar a {
    text-decoration: none;
    /*color: #7295b1;*/
    color: var(--sidebar-text-color);
    display: block;
}

.sidebar li :hover {
    /*color: #4177A3;*/
    color: #F39C12;
}

/*Content style*/
.main-block {
    height: 135%;
    margin-top: 60px;
    width: 85%;
    /*отступ от сайдбара */
    position: relative;
    right: -15%;
}

.container-fluid .modal-body {
    background-color: var(--card-bg-color);
}

.container-fluid .modal-header {
    background-color: var(--card-header-bg-color);
}

.container-fluid .modal-footer {
    background-color: var(--card-header-bg-color);
}

.container-fluid .well {
    background-color: white;
}

.container-fluid .search_area {
    margin-top: 25px;
}
.container-fluid #search_advice_wrapper {
    display: none;
    width: 58%;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    z-index: 100;
}

.container-fluid #search_advice_wrapper .advice_variant {
    cursor: pointer;
    padding: 10px;
    text-align: left;
    background-color: var(--bg-color);
}

.container-fluid #search_advice_wrapper .advice_variant:hover {
    background-color: #F39C12;
}


/*Vacancies list style*/

.container-fluid .pull-right {
    position: absolute;
    left: 75%;
    bottom: 5%;
    cursor: pointer;
}

.container-fluid .pull-right-subscriptions {
    position: absolute;
    left: 55%;
    top: 25%;
    cursor: pointer;
}

.container-fluid .btnOnVacancyPage {
    border-radius: 20px;
}

.container-fluid .salary {
    position: absolute;
    bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #3498DB;
    /*color: #7295b1;*/
}

.container-fluid .vacancyTags {
    position: absolute;
    top: 5%;
    left: 75%;
}

.container-fluid .btnClick {
    /*background-color: teal;*/
    background-color: #F39C12;
    cursor: pointer;
    margin: 3px;

}

.container-fluid .btnClick:hover {
    background-color: lightseagreen;
}

.container-fluid .headLine {
    font-size: 25px;
    font-weight: bold;
    padding-right: 30%;
}

.container-fluid .companyData {
    font-size: 14px;
    color: #777777;
}

.container-fluid .vacancyDescription {
    padding: 0 30% 3% 0;
}

.container-fluid .fa-star {
    color: teal;
}

.container-fluid .list-group-item {
    padding-top: 0;
    background-color: var(--card-color);
}

.container-fluid .clearfix:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*Seeker news style*/

.container-fluid .btnNews {
    position: absolute;
    left: 75%;
    bottom: 25%;
    top: 30%;
}

.container-fluid #buttons button {
    width: 200px;
    margin-top: 5px;
}

.container-fluid #btnSubscribe i {
    margin-left: 2%;
}

.container-fluid .seekerNewsDate {
    position: absolute;
    top: 10px;
    left: 80%;
    color: #777777;
}

.container-fluid .seekerNewsHeadLine {
    font-size: 25px;
    font-weight: 700;
    padding-right: 30%;
}

.container-fluid .newsDescription {
    font-size: 0.9em;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.container-fluid .newsDescription .btn {
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.6em;
}

.container-fluid .newsCard {
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.container-fluid .newsAction {
    padding: 0 25px;
    color: #999999;
    font-size: 0.8em;
    line-height: 50px;
    text-align: left;
    cursor: pointer;
}

.container-fluid .comments_viewing {
    color: #333333;
}

.container-fluid .dislike i {
    color: crimson;
}

.container-fluid .newsAction div {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.2em;
}

.container-fluid .newsAction i {
    margin-right: 5px;
}

.container-fluid .well {
    background-color: var(--bg-color);
}

.container-fluid .empCard {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
}

.container-fluid .empCard .card-body {
    background-color: var(--card-bg-color);
}

.container-fluid .empCard .card-header {
    background-color: var(--card-header-bg-color);
}

.container-fluid .empCard .card-footer {
    background-color: var(--card-header-bg-color);
}

.container-fluid .img-rounded {
    margin: 10px;
    border-radius: 8px;
    width: 60%;
    display: block;
}

.container-fluid .form-signin {
    margin-top: 40px;
}

.container-fluid .btn-signin {
    background-color: #F39C12;
}

.container-fluid .form-control {
    border-color: var(--form-border-color);
}

.container-fluid {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
}

.main-block {
    height: 100%;
}

.input-group-prepend .input-group-text{
    background-color: #F39C12;
    color: #222;
}

.reviewVotes {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.reviewVotes  span {
    margin-right: 10px;
    font-size: 0.8em;
    color: #999999;
    cursor: pointer;
}

.reviewVotes span:hover {
    color: black;
}

.reviewVotes i {
    margin-right: 5px;
}

.voted {
    color: black !important;
}

.employerTab {
    /* height: 300px;*/
    /* border-right: 1px solid #dae3ea;
     border-left: 1px solid #dae3ea;
     border-bottom: 1px solid #dae3ea;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;*/
}

.textReview {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.6em;
}

.readMoreReviewButton {
    font-size: 0.8em;
    line-height: 1.6em;
}

.reviewDate {
    color: #999999;
    font-size: 0.9em;
}

.seekerReviewName {
    position: absolute;
    bottom: -5px;
}

.editCardReview {
    position: absolute;
    right: 5%;
    top: -5%;
    color: #999999;
    cursor: pointer;
}

.editCardReview:hover {
    color: #777777;
}