body {
    background-color: #F5F5F5;
}

/*Navbar style*/
.navbar {
    background-color: #7295b1;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar li {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar a :hover {
    color: lightgray;
}

.navbar .dropdown {
    display: flex;
}

.navbar .dropdown-menu {
    position: relative;
    right: 0;
}

li {
    list-style-type: none;
}

/*Sidebar style*/
.sidebar {
    width: 15%;
    background-color: #dae3ea;

    height: 100%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar ul {
    padding: 0 20%;
}

.sidebar li {
    margin-top: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #7295b1;
    display: block;
}

.sidebar a :hover {
    color: #4177A3;
}

/*Content style*/
.main-block {
    height: 135%;
    margin-top: 60px;
    width: 85%;
    /*отступ от сайдбара */
    position: relative;
    right: -15%;
}

.well {
    background-color: white;
}

#search_advice_wrapper {
    display: none;
    width: 555px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    z-index: 100;
}

#search_advice_wrapper .advice_variant {
    cursor: pointer;
    padding: 5px;
    text-align: left;
}

#search_advice_wrapper .advice_variant:hover {
    background-color: lightgray;
}

.pull-right {
    position: absolute;
    left: 75%;
    bottom: 5%;
    cursor: pointer;
}

.btnOnVacancyPage{
    border-radius: 20px;
}

.salary {
    position: absolute;
    bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #7295b1;
}

.vacancyTags {
    position: absolute;
    top: 5%;
    left: 75%;
}

.btnClick {
    background-color: teal;
    cursor: pointer;
}

.btnClick:hover {
    background-color: lightseagreen;
}

.headLine {
    font-size: 25px;
    font-weight: bold;
    padding-right: 30%;
}

.companyData {
    font-size: 14px;
    color: #777777;
}

.vacancyDescription {
    padding: 0 30% 3% 0;
}

.fa-star {
    color: teal;
}

.list-group-item {
    padding-top: 0;
}

.list-group-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/*.form-search {
    width: 80%;
    height: 60px;
    margin-top: 5%;

}


.vacancy-table {
    width: 80%;
    background-color: white;
    text-align: center;
    margin-top: 15%;
}

.logo {
width: 90%;
height: auto;
}*/