body {
    background-color: #F5F5F5;
}

/*Navbar style*/
.navbar {
    background-color: #7295b1;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar li {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar a :hover {
    color: lightgray;
}

.navbar .dropdown {
    display: flex;
}

.navbar .dropdown-menu {
    position: relative;
    right: 0;
}

li {
    list-style-type: none;
}

/*Sidebar style*/
.sidebar {
    width: 15%;
    background-color: #dae3ea;

    height: 100%;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar ul{
    padding-right: auto;
}

.sidebar li {
    margin-top: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #7295b1;
    display: block;
}

.sidebar a :hover {
    color: #4177A3;
}

/*Content style*/
.main-block {
    height: 135%;
    margin-top: 60px;
    width: 85%;
    position: relative;
    right: -15%;
}

.well {
    background-color: white;
}

#search_advice_wrapper{
    display:none;
    width: 325px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    z-index: 100;
}

#search_advice_wrapper .advice_variant{
    cursor: pointer;
    padding: 5px;
    text-align: left;
}
#search_advice_wrapper .advice_variant:hover{
    background-color:lightgray;
}

.pull-right{
    position: absolute;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
}


.fa-star {
    color: teal;
}

/*.form-search {
    width: 80%;
    height: 60px;
    margin-top: 5%;

}


.vacancy-table {
    width: 80%;
    background-color: white;
    text-align: center;
    margin-top: 15%;
}

.logo {
width: 90%;
height: auto;
}*/