.block {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 590px;
    height: 120px;
    transform: translate(-50%, -50%);
    border-radius: 50px 10px;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
}

.block.done{
    opacity: 0;
    visibility: hidden;
}

.block:before, .block:after {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    background: linear-gradient(80deg,
    #fb970086,
    #f39c12,
    #fbb800,
    #fbe200,
    #f7fb00,
    #c5fb00,
    #8efb00,
    #32fb00,
    #00bc8c,
    #00fb369f,
    #00fb1579,
    #00fb1579,
    #00fb369f,
    #00bc8c,
    #32fb00,
    #8efb00,
    #c5fb00,
    #f7fb00,
    #fbe200,
    #fbb800,
    #f39c12,
    #fb970086);
    background-size: 1000%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    animation: steam 20s linear infinite;
    border-radius: 50px 10px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(50px);
}

.container {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 50%;
    top: 50%;
}

.text {
    font-family: "Vibur", cursive;
    font-style: italic;
    color: #dad6d6;
    text-shadow: 3px -10px 5px #000000;
    user-select: none;
    font-size: 80px;
    font-weight: 500;
    display: block;
    position: absolute;
    bottom: 0;
    animation: text 2s ease-in infinite;
}

.text-j {
    left: 1rem;
    animation-delay: 500ms;
}

.text-o {
    left: 5rem;
    animation-delay: 550ms;
}

.text-b {
    left: 8.5rem;
    animation-delay: 600ms;
}

.text-s {
    left: 12.5rem;
    animation-delay: 650ms;
}

.text-e1 {
    left: 17rem;
    animation-delay: 700ms;
}

.text-e2 {
    left: 21rem;
    animation-delay: 750ms;
}

.text-k {
    left: 25rem;
    animation-delay: 800ms;
}

.text-e3 {
    left: 29rem;
    animation-delay: 850ms;;
}

.text-r {
    left: 33rem;
    animation-delay: 900ms;
}

.delay {
    animation-delay: 1800ms;
}

@keyframes text {
    0% {
        font-size: 80px;
        color: #dad6d6;
        text-shadow: 3px -10px 5px #000000;
    }
    20% {
        color: #ffee3b;
        text-shadow: 3px -5px 5px #383838;
    }
    40% {
        color: #10ff73;
        font-size: 100px;
        text-shadow: 6px 10px 5px #000000;
    }

    60% {
        color: #7affa3;
        text-shadow: 6px 10px 5px #000000;
    }

    80% {
        color: #f5ff52;
        text-shadow: 3px 1px 5px #000000;
    }

    100% {
        color: #dad6d6;
        text-shadow: 3px -10px 5px #000000;
        font-size: 80px;
    }
}

