
.card {
    display: inline-block;
    width: 220px;
    margin: 15px 15px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-header {
    min-height: 90px;
}

.card-body {
    min-height: 200px;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.favorite {
    cursor: pointer;
}

ul.ui-autocomplete.ui-menu{
    width: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
}