<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/adminlayouts" th:with="side='add'">

<head>
    <style>
        #success_message {
            display: none;
        }

        #ups_message {
            display: none;
        }
    </style>
    <script src="https://kit.fontawesome.com/c5edb0b5a3.js"></script>
    <!--<script type="text/javascript"-->
    <!--src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>-->
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <script type="text/javascript" src="/js/admin/addUserByAdmin.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid" layout:fragment="content">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main_admin_page">
                <br>
                <div class="container">

                    <form class="card bg-light card-body mb-3 " id="contact_form"  onchange="alertForm() ">
                        <center>
                            <fieldset>

                                <!-- Form Name -->
                                <legend>
                                    <h2><b>Добавьте пользователя</b></h2>
                                </legend>
                                <br>

                                <!-- Text input-->
                                <div class="form-group">
                                    <!--<label class="col-md-5 control-label">Логин (Email)</label>-->
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Введите Email"
                                                   name="user_email" id="user_email" required="required">
                                            <div class="invalid-feedback " id="exists_warning">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <!--<label class="col-md-4 control-label">Пароль</label>-->
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control"
                                                   placeholder="Введите пароль от 8 до 20 символов"
                                                   name="user_password" id="user_password" required="required">
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <!--<label class="col-md-4 control-label">Введите повторно</label>-->
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input name="confirm_password" id="confirm_password"
                                                   placeholder="Введите пароль повторно" class="form-control"
                                                   type="password" required="required">
                                            <div class="invalid-feedback ">
                                                Пароли не совпадают
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--<label class="col-md-4 control-label">Вид аккаунта</label>-->
                                    <div class="col-md-5 selectContainer">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-list"></i></span>
                                            </div>
                                            <select name="role" id="role" class="form-control selectpicker"
                                                    required="required">
                                                <option value="">Выберите роль</option>
                                                <option value="ROLE_SEEKER">Соискатель</option>
                                                <option value="ROLE_EMPLOYER">Работодатель</option>
                                                <option value="ROLE_ADMIN">Администратор</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="notify"
                                               onclick="notifyUser()">
                                        <label class="form-check-label" for="notify">Оповестить Пользователя</label>
                                        <div class="valid-feedback">
                                            Пользователю будет отправлено письмо
                                        </div>
                                    </div>
                                </div>

                                <!--Success message-->
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <div class="alert alert-success" role="alert" id="success_message">
                                            Ползователь успешно добавлен<i
                                                class="fas fa-thumbs-up"></i><br/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fault message-->
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <div class="alert alert-danger" role="alert" id="ups_message">
                                            Форма заполнена не верно<i
                                                class="fas fa-exclamation-circle"></i><br/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4" style="display: flex; justify-content: center;"><br>
                                        <button type="button" class="btn btn-warning"
                                                style="width: 250px;" onclick="validityForm()">
                                            Добавить <i class="fas fa-paper-plane "></i>
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                        </center>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>