<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Панель администратора">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Панель администратора</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/dashboard.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!--<link rel="stylesheet" type="text/css" href=https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css>-->
</head>

<body>


<nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-md shadow p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">JobSeeker</a>

    <ul class="navbar-nav ml-auto px-3">

        <li class="nav-item text-nowrap">
            <a class="nav-link" href="logout"><span data-feather="log-out"></span>
            </a>
        </li>

    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" onclick="getAdminPage()">
                            <span data-feather="home"></span>
                            Главная <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/employers" >
                            <span data-feather="user"></span>
                            Работодатели
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/seekers">
                            <span data-feather="user"></span>
                            Соискатели
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="getAllVacancies()">
                            <span data-feather="layers"></span>
                            Вакансии
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main_admin_page">
            <br/>
            <h2>Все вакансии</h2>
            <div class="table-responsive">
            <table id="vacancyTable" class="table table-striped table-sm table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Headline</th>
                    <th>City</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>State</th>
                    <th>Chat</th>
                    <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                <div id="editModal" class="modal fade" tabindex="-1" >
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" id="modalclosebutton" data-dismiss="modal">x</button>
                                <!--<h4 class="modal-title">Edit user </h4>-->
                            </div>
                            <div class="modal-body">
                                <form  id="modalform" method="post">
                                    <div class="form-group">
                                        <label for="Id">Id</label>
                                        <input type="text" class="form-control" id="Id" name="Id" placeholder="Id" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="Headline">Headline</label>
                                        <input type="text" class="form-control" id="Headline" name="Headline" placeholder="Headline" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="City">City</label>
                                        <input type="text" class="form-control" id="City" name="City" placeholder="City" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="State">State</label>
                                        <select class="form-control" id="State">
                                            <option value="ACCESS">Access</option>
                                            <option value="NO_ACCESS">No Access</option>
                                            <option value="BLOCK">Block</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-success btn-block" id="modalbutton" value="Edit">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                </tbody>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Headline</th>
                    <th>City</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>State</th>
                    <th>Chat</th>
                    <th>Edit</th>
                </tr>
                </tfoot>
                </table>
            </div>
        </main>
    </div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="/docs/4.3.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="/js/dashboard.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>