<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Панель администратора">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Панель администратора</title>
    <style>#success_message {
        display: none;
    }</style>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/js/addUserByAdmin.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="main-block chromeFix" layout:fragment="content">
            <div class="sidebar-sticky">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main_admin_page">
            <br/>
            <div class="container">

                <form class="well form-horizontal" id="contact_form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>
                            <center><h2><b>Добавьте пользователя</b></h2></center>
                        </legend>
                        <br>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Логин (Email)</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input name="user_email" id="user_email" th:value="${email}"
                                           placeholder="Введите Email" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Пароль</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="user_password" id="user_password"
                                           placeholder="Введите пароль от 8 до 20 символов" class="form-control"
                                           type="password">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Введите повторно</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input name="confirm_password" id="confirm_password"
                                           placeholder="Введите пароль от 8 до 20 символов" class="form-control"
                                           type="password">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Вид аккаунта</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="role" id="role" class="form-control selectpicker">
                                        <option value="">Выберите роль</option>
                                        <option value="ROLE_SEEKER">Соискатель</option>
                                        <option value="ROLE_EMPLOYER">Работодатель</option>
                                        <option value="ROLE_ADMIN">Администратор</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox form-group">
                            <label class="col-md-4"><input type="checkbox" id="myCheck">Оповестить Пользователя</label>
                        </div>

                        <!--Success message-->
                        <div class="alert alert-success" role="alert" id="success_message">Ползователь успешно
                            добавлен<i
                                    class="glyphicon glyphicon-thumbs-up"></i><br/>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4" style="display: flex; justify-content: center;"><br>
                                <button type="button" class="btn btn-warning" onclick="validateAndAdd()"
                                        style="width: 250px;">
                                    Добавить <span class="glyphicon glyphicon-send"></span>
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </main>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="/docs/4.3.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="/js/admin_vacancies.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/js/addUserByAdmin.js"></script>

</body>
</html>