<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/adminlayouts">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid" layout:fragment="content">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main_admin_page"></main>
        </div>
    </div>
</div>
<div class="container-fluid" layout:fragment="content-script">
    <script src="/js/dashboard.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</div>
</body>
</html>