<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <meta name="description" content="Чат">
    <title>Chat</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>

<body>

<th:block layout:fragment="content">

            <div id="chat-container" class="panel-body" style="margin-top: 150px; height: 500px">
                <div id="chatId" th:value="${chatId}"></div>
                <div id="profileId" th:value="${profileId}"></div>

                <div class="message-area">
                    <ul id="messageArea" class="media-list">
                    </ul>
                </div>

                <form id="messageForm" name="messageForm">
                    <div class="input-message input-group">
                        <input class="form-control" type="text" id="message" autocomplete="off"
                               placeholder="Type a message..."/>
                        <button class="input-group-addon" type="submit">Send</button>
                    </div>
                </form>
            </div>

            <script th:src="@{/js/chat.js}"></script>
</th:block>

</body>
</html>