<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm registration</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="main-block chromeFix" layout:fragment="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <div th:if="${complete}">
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-8">
                                    <div class="alert alert-success">
                                        <h2 align="center"><span class="glyphicon glyphicon-ok"></span> Регистрация
                                            завершена!</h2>
                                        <h2 align="center">Теперь вы можете зайти под своей учетной записью по <a
                                                href="/login" class="alert-link">ссылке</a> или в меню вверху.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:unless="${complete}">
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-10">
                                    <div class="alert alert-danger">
                                        <h2 align="center"><span class="glyphicon glyphicon-remove"></span> Код
                                            подтверждения
                                            недействителен
                                            (некорректен или истек срок действия)!</h2>
                                        <h2 align="center"><a href="/" class="alert-link">Вернуться на главную
                                            страницу</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>