<!DOCTIPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/common_style.css" rel="stylesheet">
</head>
<body>
<!-- 			<div class="conteiner-fluid"> -->

<th:block th:replace="fragments :: usernav" ></th:block>
<div class="row">
    <th:block th:replace="fragments :: sidebar"></th:block>

    <div class="main-block chromeFix">
        <input class="form-control form-search center" type="text" placeholder="Поиск вакансий..." aria-label="Search">
        <div class="vacancy-table center">
            <table class="table table-bordered table-xs">
                <thead>
                <tr>
                    <th width="80%"><h5>Новые вакансии</h5></th>
                    <th width="20%"><h5>зп</h5></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Разработчик мобильных приложений (Android)</td>
                    <td>100 000-180 000 руб.</td>
                </tr>
                <tr>
                    <td>Web-разработчик</td>
                    <td>40 000-45 000 руб.</td>
                </tr>
                <tr>
                    <td>Программист для разработки ПО</td>
                    <td>от 80 000 руб.</td>
                </tr>
                <tr>
                    <td>Программист 1C 7.7</td>
                    <td>от 80 000 руб.</td>
                </tr>
                <tr>
                    <td>Frontend-разработчик</td>
                    <td>50 000-90 000 руб.</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- 		</div> -->
</body>
</html>