<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments :: head"></th:block>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>#success_message {
        display: none;
    }</style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="/js/registration.js"></script>
</head>
<body>
<th:block th:include="fragments :: nav"></th:block>

<div class="container">

    <form class="well form-horizontal" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>
                <center><h2><b>Регистрация</b></h2></center>
            </legend>
            <br>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Логин (Email)</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="user_email" id="user_email" placeholder="Введите Ваш адрес email" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Пароль</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="user_password" id="user_password" placeholder="Введите пароль от 8 до 20 символов" class="form-control" type="password">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Введите повторно</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="confirm_password" id="confirm_password" placeholder="Введите пароль от 8 до 20 символов" class="form-control"
                               type="password">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Вид аккаунта</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="role" id="role" class="form-control selectpicker">
                            <option value="">Выберите роль</option>
                            <option value="ROLE_SEEKER">Соискатель</option>
                            <option value="ROLE_EMPLOYER">Работодатель</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Select Basic -->

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Регистрация завершена успешно <i
                    class="glyphicon glyphicon-thumbs-up"></i><br/>
                На Ваш E-mail: <span id="email_ver"></span> придет письмо с инструкцией по активации аккаунта.<br/>
                Вы также можете <a href="/">вернуться на главную страницу</a>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4" style="display: flex; justify-content: center;"><br>
                    <button type="button" class="btn btn-warning" onclick="validateAndReg()" style="width: 250px;">
                        Зарегистрироваться  <span class="glyphicon glyphicon-send"></span>
                    </button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>