<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>SeekerProfile</title>
    <script type="text/javascript" src="/js/seeker.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10"><h1>Все подписки</h1></div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <ul class="list-group list-group-flush">
                    <th:block th:each="subscription : ${seekerProfileSubscriptions}">
                        <li class="list-group-item list-group-item-action">
                            <div class="headLine">
                                <span th:text="${subscription.companyName}"></span>
                            </div>
                            <div class="companyData">
                                <a style="text-decoration: none" th:href="@{subscription.website}"
                                   th:text="${subscription.website}"></a>
                            </div>
                            <div class="pull-right-subscriptions">
                            <span class="btn btn-info btnOnVacancyPage"
                                  th:onclick="'deleteSubscription(' + ${subscription.id} + ',' +${seekerProfileId} + ')'">Отписаться
                                <i class="fas fa-trash-alt"></i>
                            </span>
                                <span class="btn btn-info btnOnVacancyPage"
                                      th:onclick="'window.location.href = \'' + @{/employer/{id}(id=${subscription.id})} + '\''">
                                Профиль компании
                            </span>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>