<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <title>SeekerProfile</title>
    <script type="text/javascript" src="/js/seeker.js"></script>
    <script type="text/javascript" src="/js/confirming.js"></script>
    <script type="text/javascript" src="/js/date_status_format.js"></script>
</head>
<body>
<div id="sProfileDiv"  layout:fragment="content">
    <div class="container-fluid" style="margin-left: 15%;margin-right: 15%">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <h1><span th:text="${seekerProfile.name}"></span></h1>
                <h3><span th:each="tag : ${seekerProfile.tags}" th:text="${tag.name} + ' '"></span></h3>
                <span>Мои проекты:</span><br/>
                <div class="list-group">
                    <a th:each="portfolio, index: ${seekerProfile.portfolios}" class="list-group-item"
                       th:text="${portfolio.projectName}" data-toggle="modal" data-target="#portfolioModal"
                       th:onclick="'showPortfolio('+${portfolio.id}+')'"></a>
                </div>
            </div>
            <div class="col-sm-3" align="right">
                <img th:src="@{'data:image/png;base64,' + ${photoimg}}" class="img-rounded" alt="Photo">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <span>Обо мне:</span><br/>
                <div class="well well-sm">
                    <span th:text="${seekerProfile.description}"></span>
                </div>
                <br>
                <!-- кнопка приглашения -->
                <button type="button" th:onclick="'showInviteModal('+${seekerProfile.id}+')'"
                        class="btn btn-primary">
                    <i class="fas fa-user-plus"></i>
                    InviteFriend
                </button>

                <button class="btn btn-secondary" th:onclick="'window.location.href = \'' + @{/seeker/vacancies/{id}(id=${seekerProfile.id})} + '\''">Избранное</button>
                <div th:if="${isOwner && !seekerProfile.meetings.isEmpty()}" id="table" style="padding: 15px;">
                    <table class="table table-striped">
                        <thead class="" style="border-width: 0px;">
                        <h3>Текущие приглашения</h3>
                        <tr style="font-weight: bold; ">
                            <th scope="col">№</th>
                            <th scope="col">Компания</th>
                            <th scope="col">Вакансия</th>
                            <th scope="col">Профиль</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Дата встречи</th>
                            <th scope="col">Подтверждение</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="tableRows" th:each="meeting,mCount: ${seekerProfile.meetings}" style="font-weight: normal;">
                            <td th:text="${mCount.count}"></td>
                            <td th:text="${meeting.vacancy.creatorProfile.companyName}"></td>
                            <td th:text="${meeting.vacancy.headline}"></td>
                            <td><a th:href="@{'/vacancy/' +  ${meeting.vacancy.id}}">вакансия</a></td>
                            <td class="tableStatus" th:text="${meeting.status}"></td>
                            <td class="tableDate" th:text="${meeting.date!=null ? meeting.date : 'N/A'}"></td>
                            <td>
                                <button th:if="${meeting.status==meeting.status.SCHEDUALED}" th:onclick="'confirmMeeting(' + ${meeting.id} + ')'" type="button" class="btn btn-dark">Подтвердить</button>
                                <button th:if="${meeting.status==meeting.status.NOT_CONFIRMED || meeting.status==meeting.status.CONFIRMED_BY_USER}"
                                        type="button" disabled="disabled" class="btn btn-warning disabled">Ожидание подверждения</button>
                                <button th:if="${meeting.status==meeting.status.CONFIRMED}" type="button" disabled="disabled"
                                        class="btn btn-success disabled">Встреча назначена</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="portfolioModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><span id="PMHeadline"></span></h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h4><a id="PMlink"></a></h4>
                    <div class="well well-sm">
                        <span id="PMDescription"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- модальное окно приглашения -->
    <div id="inviteFriendModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Вы можете пригласить друга здесь</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center edit-form">


                    <label for="seekerProfile-input-add">Seeker</label>
                    <input id="seekerProfile-input-add" class="form-control"
                           type="text"
                           placeholder="Seeker" name="seekerProfile"/>

                    <label for="friend-input-add">Friend</label>
                    <input id="friend-input-add" class="form-control"
                           type="text" placeholder="Введите Email друга"
                           name="friend"/>

                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="inviteFriend(document.getElementById('seekerProfile-input-add').value,
                    document.getElementById('friend-input-add').value)"
                            class="btn btn-primary "><i class="fas fa-envelope"></i>
                        Send Invitation
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>