<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">

<head>
    <title>Вакансия</title>
    <meta name="apiKey" th:content="${googleMapsApiKey}"/>
    <script type="text/javascript" src="/js/seeker.js"></script>
</head>

<body>

<div layout:fragment="content">
    <div class="container-fluid" id="vacancy_container" style="margin-left: 15%; margin-right: 15%">
        <div class="row">
            <div class="col-sm-8">
                <h1 th:utext="'<b>'+${vacancyFromServer.getHeadline()}+'</b>'"></h1>
                <p th:text="(${vacancyFromServer.getSalaryMin()!=null} ? 'от ' + ${vacancyFromServer.getSalaryMin()} + ' ' : '')
                              + (${vacancyFromServer.getSalaryMax()!=null} ? ('до ' + ${vacancyFromServer.getSalaryMax()}) : '')
                              + (${vacancyFromServer.getSalaryMax()==null and vacancyFromServer.getSalaryMin()==null} ? 'не указана' : '')">
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3><a id="EPcompanyName" th:href="@{'/employer/' + ${EmployerProfileFromServer.id}}"
                       th:text="${EmployerProfileFromServer.getCompanyName()}"></a></h3>
                <span th:text="${vacancyFromServer.getCity()}"></span>
            </div>

            <div class="col-sm-4" style="height:100px; padding-left: 0px;  padding-right: 0px;">
                <img th:src="@{'data:image/png;base64,' + ${logoimg}}"
                     style="max-width:100%; max-height:100%; display: block; vertical-align:center; horiz-align: center;"
                     alt="Logo of company">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <p>
                    Место работы: &nbsp;
                    <span th:text="${vacancyFromServer.getRemote()} ? 'Удаленная работа' : 'В офисе работодателя'"></span>
                </p>
                <p>
                    Технологии: &nbsp;
                    <th:block th:each="tag :${vacancyFromServer.getTags()}">
                        <span class="label label-success" th:text="${tag.getName()}">}</span>
                    </th:block>
                </p>
                <p>
                    Краткое описание вакансии: &nbsp;
                    <span th:text="${vacancyFromServer.getShortDescription()}"></span>
                </p>
                <p>
                    Подробное описание вакансии:<br>
                    <span th:utext="${vacancyFromServer.getDescription()}"></span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                Адрес: <span id="v_address"
                             th:text="${vacancyFromServer.getCoordinates().getLongitudeX()} + ' ' + ${vacancyFromServer.getCoordinates().getLatitudeY()}"></span>
                <div id="map" style="height: 300px"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-8">
                <div sec:authorize="hasRole('ROLE_SEEKER')" id="buttons" style="padding: 15px;">
                    <button type="button" class="btn btn-success"
                            onclick="alert('кнопка не работает')">Откликнуться
                        <i class="fas fa-envelope"></i>
                    </button>
                    <span id="btnFavorite">
                        <button th:if="${isContain}" id="outFavorite" class="btn btn-primary"
                                th:onclick="'outFavorite(' + ${vacancyFromServer.id} + ',' + ${seekerProfileId} + ')'">
                            Убрать из
                            избранное
                        </button>
                        <button th:unless="${isContain}" id="inFavorite" class="btn btn-primary"
                                th:onclick="'inFavorite(' + ${vacancyFromServer.id} + ',' + ${seekerProfileId} + ')'">
                            В избранное
                        </button>
                    </span>
                    <span id="btnSubscribe">
                        <button th:if="${isSubscribe}" type="button" id="unSubscribe" class="btn btn-outline-primary"
                                th:onclick="'unSubscribe(' + ${vacancyFromServer.id} + ',' + ${seekerProfileId} + ')'">
                            Отписаться
                            <i class="fas fa-envelope"></i>
                        </button>
                        <button th:unless="${isSubscribe}" type="button" id="toSubscribe"
                                class="btn btn-outline-primary"
                                th:onclick="'toSubscribe(' + ${vacancyFromServer.id} + ',' + ${seekerProfileId} + ')'">
                            Подписаться
                            <i class="fas fa-envelope"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/map.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var latitudeY = /*[[${vacancyFromServer.getCoordinates().getLatitudeY()}]]*/ 1;
        var longitudeX = /*[[${vacancyFromServer.getCoordinates().getLongitudeX()}]]*/ 1;

        let address = getAddressByCoords(latitudeY, longitudeX);
        $("#v_address").text(address);
        /*]]>*/
    </script>

    <script th:src="@{https://maps.googleapis.com/maps/api/js(key=${googleMapsApiKey})}"></script>

    <script>
        showVacancyOnMap(latitudeY, longitudeX);
    </script>
</div>

</body>